
html{
  min-height: 100%
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-sarif;

  background:url(/img/background.jpeg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%

}

form{
  padding: 20px;
  margin-top : 60px;
}

form button, form h5{
  margin:20px , 0;
}

